@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');
* {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    font-family: 'Noto Sans KR', sans-serif;
}

body {
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

.block {
    display: flex;
    width: 60rem;
    margin: 2rem auto;
    margin-left: 1rem;
}

.animation {
    display: flex;
    flex-direction: row;
    column-gap: 0.5rem;
    flex-wrap: nowrap;
    overflow: hidden;
}

img {
    width: 15vw;
    height: 16vw;
}

a {
    cursor: pointer;
    text-decoration: none;
    color: white;
}

.nav {
    width: 13%;
    float: left;
    background-color: #002060;
    height: 100vh;
    color: #fff;
}

.nav_text_cont {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 5vw;
    margin-left: 0vw;
}

.click {
    background-color: #fff;
    color: #002060;
    padding: 1vw;
}

.item {
    font-size: 1.5vw;
    text-align: center;
    padding: 1vw;
}

.item:hover {
    color: #002060;
    background-color: #fff;
}

.item:hover a {
    color: #002060;
}

#logo {
    background-image: url('../youjin/image/logo.png');
    width: 14vw;
    height: 8vw;
    background-size: cover;
}

.title {
    font-size: 2.5vw;
    font-weight: bold;
    color: #002060;
    text-align: center;
}

.group {
    margin-left: 5vw;
}

.grid {
    display: grid;
    grid-template-columns: repeat(4, 8vw);
    grid-column-gap: 1vw;
}

.grid-item {
    font-size: 1.4vw;
    background-color: #002060;
    border-radius: 2.5vw;
    text-align: center;
    color: #fff;
}

.title2 {
    font-size: 2vw;
}